<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5d20e57d-9317-49b2-bd67-a74685840b0f" name="LoadProductionProfiles" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5d20e57d-9317-49b2-bd67-a74685840b0ffileName">LoadProductionProfiles</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
