<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4fd1b034-4ab9-4a3e-b144-66ef8168e4e2" name="Tier" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4fd1b034-4ab9-4a3e-b144-66ef8168e4e2fileName">Tier</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
