<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="41a33017-dd76-43ef-b6df-12df9d07c8e2" name="EnterpriseBatch" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="41a33017-dd76-43ef-b6df-12df9d07c8e2fileName">EnterpriseBatch</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>JobName</con:name>
      <con:value>Automation-Extract</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>840e719b-0776-426a-a1a3-57f1ced0b26b</con:tagId>
</con:testSuite>
