<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="df427462-e579-48e4-93d5-b7dd8af83b1b" name="FeaturesSecurityRoles" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="df427462-e579-48e4-93d5-b7dd8af83b1bfileName">FeaturesSecurityRoles</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
