<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4878ba2a-7d3b-4238-8c8e-20ff6ccc096d" name="ActivityOrder" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4878ba2a-7d3b-4238-8c8e-20ff6ccc096dfileName">ActivityOrder</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d653788f-b849-4013-8db6-47ad297cdee5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
