<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="451d37a7-6ebe-4245-9e2d-5e96cd60986d" name="MomentWithMessage" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="451d37a7-6ebe-4245-9e2d-5e96cd60986dfileName">MomentWithMessage</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
