<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e02dcf11-2321-4a48-aafc-d358c434b7e3" name="FeaturesRVCSegments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e02dcf11-2321-4a48-aafc-d358c434b7e3fileName">FeaturesRVCSegments</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>b96cbdb1-ee56-490f-b1c1-0f82cd0e2b6d</con:tagId>
</con:testSuite>
