<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8083c5fd-29eb-413c-be8e-9aff28c28a5e" name="RGRRDProcessProfile" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8083c5fd-29eb-413c-be8e-9aff28c28a5efileName">RGRRDProcessProfile</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
