<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f91ae85a-e7ef-414e-b08d-d84e5b1f0fea" name="FeaturesInvokeScript" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f91ae85a-e7ef-414e-b08d-d84e5b1f0feafileName">FeaturesInvokeScript</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
