<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9133bb19-c368-4ed8-a01a-60c0790c1c13" name="FeaturesProfile2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9133bb19-c368-4ed8-a01a-60c0790c1c13fileName">FeaturesProfile2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
