<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project activeEnvironment="q7intg" compositeProjectFormat="1.3" created="3.0.0" encryptionMode="Not encrypted" id="773a8e19-3994-4684-a623-de3d4ab6269c" name="Features" resourceRoot="${projectDir}" updated="3.8.1" abortOnError="false" runType="SEQUENTIAL" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerUIAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="&lt;all>"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="&lt;all>"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value="C:\Program Files\SmartBear\ReadyAPI-3.0.0\bin"/>
  <con:entry key="Environment" value="Default"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="773a8e19-3994-4684-a623-de3d4ab6269cfileName">Features_Module_Profile</con:setting>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="Profile"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="AddUpdateProfile"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value="C:\Program Files\SmartBear\ReadyAPI-3.0.0\bin"/>
  <con:entry key="Environment" value="Default environment"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements>
    <con:requirement>
      <con:id>545576</con:id>
      <con:name>A validation message for Non-Certificate type reward</con:name>
      <con:description>A validation message for Non-Certificate type reward</con:description>
      <con:status>In Scope</con:status>
      <con:links>
        <con:entry key="545576" value="https://vstsepsilon.visualstudio.com/Fusion/_workitems/edit/545576"/>
      </con:links>
      <con:testCases>
        <con:entry>57b7886e-8beb-439d-b0df-6ed73a6572cb</con:entry>
      </con:testCases>
    </con:requirement>
    <con:requirement>
      <con:id>561043</con:id>
      <con:name>Add Process Activity API - Update Process activity should not create a new process activity</con:name>
      <con:description>Add Process Activity API - Update Process activity should not create a new process activity</con:description>
      <con:status>In Scope</con:status>
      <con:links>
        <con:entry key="561043" value="https://vstsepsilon.visualstudio.com/Fusion/_testPlans/define?planId=561033&amp;suiteId=561041"/>
      </con:links>
      <con:testCases>
        <con:entry>b03dafa3-ce69-48ee-baf3-800af4beeb40</con:entry>
      </con:testCases>
    </con:requirement>
  </con:requirements>
  <con:properties>
    <con:property>
      <con:name>BasicAuthorization</con:name>
    </con:property>
    <con:property>
      <con:name>SystemUser</con:name>
    </con:property>
    <con:property>
      <con:name>SystemUserPassword</con:name>
    </con:property>
    <con:property>
      <con:name>ProgramCode</con:name>
    </con:property>
    <con:property>
      <con:name>AuthToken</con:name>
    </con:property>
    <con:property>
      <con:name>AccessTokenExpiration</con:name>
    </con:property>
    <con:property>
      <con:name>ProjectPath</con:name>
    </con:property>
    <con:property>
      <con:name>NextYearDate</con:name>
    </con:property>
    <con:property>
      <con:name>NextDayDate</con:name>
    </con:property>
    <con:property>
      <con:name>YesterdaysDate</con:name>
    </con:property>
    <con:property>
      <con:name>CrmProgramCode</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers name="RequestFilter.filterRequest" type="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers name="TestRunListener.afterStep" type="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:eventHandlers name="TestRunListener.beforeRun" type="TestRunListener.beforeRun">
    <con:script>def authToken = null
def accessTokenExpiration = null
def testCaseName = 'CreateToken'
def testStepName = 'CreateToken'
def prj = testRunner.testCase.testSuite.project
tCase = prj.testSuites['LoadToken'].testCases[testCaseName]
def expirationDate = null	
def tokenExpired = true

try {
	authToken = testRunner.testCase.testSuite.project.getPropertyValue( "AuthToken" )
	accessTokenExpiration = testRunner.testCase.testSuite.project.getPropertyValue( "AccessTokenExpiration" )
	try {
		expirationDate = new java.text.SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss.S'Z'").parse(accessTokenExpiration)
		tokenExpired =  (new Date()  >= expirationDate)
	}
	catch (Exception e) {
		tokenExpired = true
	}

	if (authToken == null || authToken == '' || tokenExpired) {
		tStep = tCase.getTestStepByName(testStepName)
		tStep.run(testRunner, context)
		def response = tStep.testRequest.testStep.testRequest.response.responseContent
		def parsedResponse = new groovy.json.JsonSlurper().parseText(response.toString())
		def newAccessToken = parsedResponse.AccessToken
		testRunner.testCase.testSuite.project.setPropertyValue( "AuthToken", newAccessToken )
		testRunner.testCase.testSuite.project.setPropertyValue( "AccessTokenExpiration", parsedResponse.AccessTokenExpiration )
 	}

} catch (Exception e) {
	log.info e.Message()
}</con:script>
  </con:eventHandlers>
  <con:eventHandlers name="TestSuiteRunListener.beforeRun" type="TestSuiteRunListener.beforeRun">
    <con:script>// "Clearing stored AuthToken before running the Test Suite"
testRunner.testSuite.project.setPropertyValue( "AuthToken", null)</con:script>
  </con:eventHandlers>
  <con:eventHandlers name="ProjectRunListener.beforeRun" type="ProjectRunListener.beforeRun">
    <con:script>//  "Clearing stored AuthToken before running the project..."
testRunner.testCase.testSuite.project.setPropertyValue( "AuthToken", null)</con:script>
  </con:eventHandlers>
  <con:sensitiveInformation/>
  <con:environment id="e460ab9c-c6df-4159-a900-cca111c2e400" name="Default" index="0">
    <con:service name="RestAPIs" type="REST">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPassword="" proxyPort="" proxyUsername="">https://q3alin-pveapi.skynetlowerenv.com/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>BasicAuthorization</con:name>
      <con:value>V0VCQVBJX0tFWToyal9OTndoN01f</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUser</con:name>
      <con:value>AUTO_USER</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUserPassword</con:name>
      <con:value>Admin.1234</con:value>
    </con:property>
    <con:property>
      <con:name>ProgramCode</con:name>
      <con:value>PP</con:value>
    </con:property>
    <con:property>
      <con:name>AuthToken</con:name>
      <con:value xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
    </con:property>
    <con:property>
      <con:name>AccessTokenExpiration</con:name>
      <con:value>2021-10-22T23:17:06.8489502Z</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectPath</con:name>
      <con:value>c:\srcgit\FusionWebapiAutomationV2</con:value>
    </con:property>
    <con:property>
      <con:name>NextYearDate</con:name>
      <con:value>07/29/2022</con:value>
    </con:property>
    <con:property>
      <con:name>NextDayDate</con:name>
      <con:value>07/29/2021</con:value>
    </con:property>
    <con:property>
      <con:name>YesterdaysDate</con:name>
      <con:value>07/27/2021</con:value>
    </con:property>
    <con:property>
      <con:name>CrmProgramCode</con:name>
      <con:value>CRM</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d653788f-b849-4013-8db6-47ad297cdee5" name="d3aldv" index="1">
    <con:service type="REST" name="RestAPIs">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://d3aldv-pveapi.skynetlowerenv.com/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>BasicAuthorization</con:name>
      <con:value>V0VCQVBJX0tFWTo3Mm5lSkZ5R19f</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUser</con:name>
      <con:value>AUTO_USER</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUserPassword</con:name>
      <con:value>Admin.1234</con:value>
    </con:property>
    <con:property>
      <con:name>ProgramCode</con:name>
      <con:value>PP</con:value>
    </con:property>
    <con:property>
      <con:name>AuthToken</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">bd8e8ffa-7d49-4f0a-b0e8-d4a06142de8f</con:value>
    </con:property>
    <con:property>
      <con:name>AccessTokenExpiration</con:name>
      <con:value>2021-08-25T23:24:59.2845671Z</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectPath</con:name>
      <con:value>c:\srcgit\FusionWebapiAutomationV2</con:value>
    </con:property>
    <con:property>
      <con:name>NextYearDate</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>NextDayDate</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>YesterdaysDate</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>CrmProgramCode</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="3c955a23-3567-47af-b6e9-aacfcca8d9aa" name="q7intg" index="2">
    <con:service type="REST" name="RestAPIs">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://q7intg-pveapi.epsilonagilityloyalty.com/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>BasicAuthorization</con:name>
      <con:value>V0VCQVBJX0tFWToyal9OTndoN01f</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUser</con:name>
      <con:value>AUTO_USER</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUserPassword</con:name>
      <con:value>Admin.1234</con:value>
    </con:property>
    <con:property>
      <con:name>ProgramCode</con:name>
      <con:value>PP</con:value>
    </con:property>
    <con:property>
      <con:name>AuthToken</con:name>
      <con:value>d04785e9-59f8-47d2-82e7-c00993678d92</con:value>
    </con:property>
    <con:property>
      <con:name>AccessTokenExpiration</con:name>
      <con:value>2021-10-26T21:23:44.1876934Z</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectPath</con:name>
      <con:value>c:\srcgit\FusionWebapiAutomationV2</con:value>
    </con:property>
    <con:property>
      <con:name>NextYearDate</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>NextDayDate</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>YesterdaysDate</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>CrmProgramCode</con:name>
      <con:value>CRM</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="7b3a1d8c-092b-49fd-bbba-801df02742f3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="e460ab9c-c6df-4159-a900-cca111c2e400">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="120f0817-c2aa-498a-ba10-54f000886d16">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d653788f-b849-4013-8db6-47ad297cdee5">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
