<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="773a8e19-3994-4684-a623-de3d4ab6269c" created="3.0.0" activeEnvironment="Default" name="Features" resourceRoot="${projectDir}" updated="3.3.2" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerUIAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="&lt;all>"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="&lt;all>"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value="C:\Program Files\SmartBear\ReadyAPI-3.0.0\bin"/>
  <con:entry key="Environment" value="Default"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="773a8e19-3994-4684-a623-de3d4ab6269cfileName">Features_Module_Profile</con:setting>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="Profile"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="AddUpdateProfile"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value="C:\Program Files\SmartBear\ReadyAPI-3.0.0\bin"/>
  <con:entry key="Environment" value="Default environment"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>BasicAuthorization</con:name>
    </con:property>
    <con:property>
      <con:name>SystemUser</con:name>
    </con:property>
    <con:property>
      <con:name>SystemUserPassword</con:name>
    </con:property>
    <con:property>
      <con:name>ProgramCode</con:name>
    </con:property>
    <con:property>
      <con:name>AuthToken</con:name>
    </con:property>
    <con:property>
      <con:name>AccessTokenExpiration</con:name>
    </con:property>
    <con:property>
      <con:name>ProjectPath</con:name>
    </con:property>
    <con:property>
      <con:name>NextYearDate</con:name>
    </con:property>
    <con:property>
      <con:name>NextDayDate</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.beforeRun" name="TestRunListener.beforeRun">
    <con:script>def authToken = null
def accessTokenExpiration = null
def testCaseName = 'CreateToken'
def testStepName = 'CreateToken'
def prj = testRunner.testCase.testSuite.project
tCase = prj.testSuites['LoadToken'].testCases[testCaseName]
def expirationDate = null	
def tokenExpired = true

try {
	authToken = testRunner.testCase.testSuite.project.getPropertyValue( "AuthToken" )
	accessTokenExpiration = testRunner.testCase.testSuite.project.getPropertyValue( "AccessTokenExpiration" )
	try {
		expirationDate = new java.text.SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss.S'Z'").parse(accessTokenExpiration)
		tokenExpired =  (new Date()  >= expirationDate)
	}
	catch (Exception e) {
		tokenExpired = true
	}

	if (authToken == null || authToken == '' || tokenExpired) {
		tStep = tCase.getTestStepByName(testStepName)
		tStep.run(testRunner, context)
		def response = tStep.testRequest.testStep.testRequest.response.responseContent
		def parsedResponse = new groovy.json.JsonSlurper().parseText(response.toString())
		def newAccessToken = parsedResponse.AccessToken
		testRunner.testCase.testSuite.project.setPropertyValue( "AuthToken", newAccessToken )
		testRunner.testCase.testSuite.project.setPropertyValue( "AccessTokenExpiration", parsedResponse.AccessTokenExpiration )
 	}

} catch (Exception e) {
	log.info e.Message()
}</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestSuiteRunListener.beforeRun" name="TestSuiteRunListener.beforeRun">
    <con:script>// "Clearing stored AuthToken before running the Test Suite"
testRunner.testSuite.project.setPropertyValue( "AuthToken", null)</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="ProjectRunListener.beforeRun" name="ProjectRunListener.beforeRun">
    <con:script>//  "Clearing stored AuthToken before running the project..."
testRunner.testCase.testSuite.project.setPropertyValue( "AuthToken", null)</con:script>
  </con:eventHandlers>
  <con:sensitiveInformation/>
  <con:environment id="e460ab9c-c6df-4159-a900-cca111c2e400" name="Default">
    <con:service type="REST" name="RestAPIs">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://q3alin-pveapi.skynetlowerenv.com/</con:endpoint>
    </con:service>
    <con:property>
      <con:name>BasicAuthorization</con:name>
      <con:value>V0VCQVBJX0tFWTowN25hckhOTl9f</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUser</con:name>
      <con:value>AUTO_USER</con:value>
    </con:property>
    <con:property>
      <con:name>SystemUserPassword</con:name>
      <con:value>Admin.1234</con:value>
    </con:property>
    <con:property>
      <con:name>ProgramCode</con:name>
      <con:value>PP</con:value>
    </con:property>
    <con:property>
      <con:name>AuthToken</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">4ec8c767-8b36-46a9-a113-4a02ed22a53e</con:value>
    </con:property>
    <con:property>
      <con:name>AccessTokenExpiration</con:name>
      <con:value>2020-11-04T02:42:21.9069922Z</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectPath</con:name>
      <con:value>C:\Git\FusionWebApiAutomationV2</con:value>
    </con:property>
    <con:property>
      <con:name>NextYearDate</con:name>
      <con:value>11/04/2021</con:value>
    </con:property>
    <con:property>
      <con:name>NextDayDate</con:name>
      <con:value>11/04/2020</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="7b3a1d8c-092b-49fd-bbba-801df02742f3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="e460ab9c-c6df-4159-a900-cca111c2e400">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="120f0817-c2aa-498a-ba10-54f000886d16">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
