<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b54d2c69-4a3a-4e80-accc-adef4c3bb238" name="FeaturesReturnTransaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b54d2c69-4a3a-4e80-accc-adef4c3bb238fileName">FeaturesReturnTransaction</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
