<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d600cf13-6fd1-4d61-9a2a-4f520b15384f" name="FeaturesCaching" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d600cf13-6fd1-4d61-9a2a-4f520b15384ffileName">FeaturesCaching</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
