<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2535393f-42eb-44b4-8cb0-54c38ca9c2b9" name="FeaturesOffers" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2535393f-42eb-44b4-8cb0-54c38ca9c2b9fileName">FeaturesOffers</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>8e01f123-0bf5-4bac-b6fe-c36b7cbe80bb</con:tagId>
</con:testSuite>
