<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b5141903-5141-4156-b869-e75200cb83b1" name="FeaturesDataTranslation" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b5141903-5141-4156-b869-e75200cb83b1fileName">FeaturesDataTranslation</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property userSpecific="true">
      <con:name>LanguageLocaleToTranslate</con:name>
      <con:value>de-DE</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:tagId>b96cbdb1-ee56-490f-b1c1-0f82cd0e2b6d</con:tagId>
</con:testSuite>
