<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a729611c-c9ca-4f0f-b672-3d0f1ed8637a" name="LoadProductionData" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a729611c-c9ca-4f0f-b672-3d0f1ed8637afileName">LoadProductionData</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
