<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4b9fa6f9-bbd3-4aad-b9a3-ecd89dd094e9" name="FeaturesTierProgression" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4b9fa6f9-bbd3-4aad-b9a3-ecd89dd094e9fileName">FeaturesTierProgression</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
