<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cce5d862-c0ac-4764-bfe9-87c11a56aa8e" name="RGRCleanSlate" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cce5d862-c0ac-4764-bfe9-87c11a56aa8efileName">RGRCleanSlate</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
