<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="33779c77-5a79-40e0-89a5-17dce4cbdeae" name="FeaturesInsights" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="33779c77-5a79-40e0-89a5-17dce4cbdeaefileName">FeaturesInsights</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
