<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ee79fac3-a50b-41a2-b608-ca0be20e95f8" name="FeaturesProfileMerge" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ee79fac3-a50b-41a2-b608-ca0be20e95f8fileName">FeaturesProfileMerge</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>b96cbdb1-ee56-490f-b1c1-0f82cd0e2b6d</con:tagId>
</con:testSuite>
