<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="970d21f1-679c-4cea-bb14-9ecec158c3cf" name="Batch" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="970d21f1-679c-4cea-bb14-9ecec158c3cffileName">Batch</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
