<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="30137b71-37d9-4a54-99fe-1d26d5b30247" name="Profile" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="30137b71-37d9-4a54-99fe-1d26d5b30247fileName">Profile</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="120f0817-c2aa-498a-ba10-54f000886d16">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
