<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f8f8fa49-1d65-4510-82e7-001bea6d7894" name="Test Suite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f8f8fa49-1d65-4510-82e7-001bea6d7894fileName">Test-Suite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
