<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="698115b4-1097-4537-90cb-9cb7ed90394d" name="FeaturesAdmin" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="698115b4-1097-4537-90cb-9cb7ed90394dfileName">FeaturesAdmin</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
