<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="698115b4-1097-4537-90cb-9cb7ed90394d" name="FeaturesAdmin" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="698115b4-1097-4537-90cb-9cb7ed90394dfileName">FeaturesAdmin</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
