<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="41fe2548-0fa2-4749-8421-9bd50da40b72" name="ProgramOffers" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="41fe2548-0fa2-4749-8421-9bd50da40b72fileName">ProgramOffers</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
