<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0b3ae0a9-e08f-4d53-a6cc-b6e4391a36b3" name="https://www.google.com" type="rest" wadlVersion="http://wadl.dev.java.net/2009/02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0b3ae0a9-e08f-4d53-a6cc-b6e4391a36b3fileName">https%3A%2F%2Fwww.google.com</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>https://www.google.com</con:endpoint>
  </con:endpoints>
</con:interface>
