<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6dacd7fa-8b8d-4b4d-9424-27faf9cbc742" name="PublicProfile" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6dacd7fa-8b8d-4b4d-9424-27faf9cbc742fileName">PublicProfile</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
