<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c09ab60b-4c31-4244-b714-d955d3564c38" name="Logging" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c09ab60b-4c31-4244-b714-d955d3564c38fileName">Logging</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
