<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ba78b6b8-5e96-432c-8038-1d1f34e9860c" name="FeaturesPurchaseTransaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ba78b6b8-5e96-432c-8038-1d1f34e9860cfileName">FeaturesPurchaseTransaction</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
