<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="52730a64-67ff-40a4-9422-41c0c0d7ec73" name="RGRUserManagement" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="52730a64-67ff-40a4-9422-41c0c0d7ec73fileName">RGRUserManagement</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d653788f-b849-4013-8db6-47ad297cdee5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
