<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8011b37a-01d2-4956-b0a4-3836052156d5" name="FeaturesUpdateProfile" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8011b37a-01d2-4956-b0a4-3836052156d5fileName">FeaturesUpdateProfile</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>b96cbdb1-ee56-490f-b1c1-0f82cd0e2b6d</con:tagId>
</con:testSuite>
