<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="da84260f-f9bd-4cde-b771-e73fc389f45e" name="RestAPIs" type="rest" wadlVersion="http://wadl.dev.java.net/2009/02" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="da84260f-f9bd-4cde-b771-e73fc389f45efileName">RestAPIs</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT"/>
  <con:endpoints>
    <con:endpoint>https://q3alin-pveapi.skynetlowerenv.com/</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="7b3a1d8c-092b-49fd-bbba-801df02742f3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e460ab9c-c6df-4159-a900-cca111c2e400">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="120f0817-c2aa-498a-ba10-54f000886d16">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
