<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b125b815-e3c1-44d1-9680-9407f41d1cc0" name="RGRProgOffersNegative" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b125b815-e3c1-44d1-9680-9407f41d1cc0fileName">RGRProgOffersNegative</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
