<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9325d8ca-7b19-4911-b2c8-60efe4d0a564" name="FeaturesCustomOffers" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9325d8ca-7b19-4911-b2c8-60efe4d0a564fileName">FeaturesCustomOffers</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>8e01f123-0bf5-4bac-b6fe-c36b7cbe80bb</con:tagId>
</con:testSuite>
