<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d856c81e-c3f4-4406-9773-2128411182c2" name="Enrollment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d856c81e-c3f4-4406-9773-2128411182c2fileName">Enrollment</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
