<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="747f9500-80de-47bc-899b-aecf971f7475" name="FeaturesMomentFinancialTrans" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="747f9500-80de-47bc-899b-aecf971f7475fileName">FeaturesMomentFinancialTrans</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>7d10a4c9-cdce-4528-b8b3-82a4c75d1b0c</con:tagId>
</con:testSuite>
