<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9133bb19-c368-4ed8-a01a-60c0790c1c13" name="FeaturesProfileSegmentsandOffers" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9133bb19-c368-4ed8-a01a-60c0790c1c13fileName">FeaturesProfileSegmentsandOffers</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>b96cbdb1-ee56-490f-b1c1-0f82cd0e2b6d</con:tagId>
</con:testSuite>
