<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="aaf4fd2c-2249-42f7-bb4b-b24645b3190f" name="FeaturesMoment1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="aaf4fd2c-2249-42f7-bb4b-b24645b3190ffileName">FeaturesMoment1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
