<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2a24c81b-cd72-4991-a8da-2f90f8608831" name="FeaturesProducts" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2a24c81b-cd72-4991-a8da-2f90f8608831fileName">FeaturesProducts</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
