<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ed231a8a-8eeb-45ec-9cfc-1cb60a09a7fc" name="LoadProductionData1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ed231a8a-8eeb-45ec-9cfc-1cb60a09a7fcfileName">LoadProductionData1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>70f1eb05-3dd4-4b50-ad49-1b79025baf94</con:tagId>
</con:testSuite>
