<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ed231a8a-8eeb-45ec-9cfc-1cb60a09a7fc" name="LoadProductionData1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ed231a8a-8eeb-45ec-9cfc-1cb60a09a7fcfileName">LoadProductionData1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
