<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="32bfd5c6-12a2-4c00-8aca-fb8790a315f9" name="FeaturesActivityNegative" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="32bfd5c6-12a2-4c00-8aca-fb8790a315f9fileName">FeaturesActivityNegative</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
