<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b5141903-5141-4156-b869-e75200cb83b1" name="ReferenceDataTranslation" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b5141903-5141-4156-b869-e75200cb83b1fileName">ReferenceDataTranslation</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>