<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a5ef08cb-4363-4deb-b6f3-59da22a9045d" name="SetUpEnvironment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a5ef08cb-4363-4deb-b6f3-59da22a9045dfileName">SetUpEnvironment</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e460ab9c-c6df-4159-a900-cca111c2e400">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="120f0817-c2aa-498a-ba10-54f000886d16">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d653788f-b849-4013-8db6-47ad297cdee5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>70f1eb05-3dd4-4b50-ad49-1b79025baf94</con:tagId>
</con:testSuite>
