<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3e499d0e-5a3d-4474-b50a-5b661b076a87" name="FeaturesPublicAPI" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3e499d0e-5a3d-4474-b50a-5b661b076a87fileName">FeaturesPublicAPI</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>840e719b-0776-426a-a1a3-57f1ced0b26b</con:tagId>
</con:testSuite>
