<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5961b65e-99f0-49d4-b414-de60ded65fdf" name="FeaturesPayWithPointsNegative" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5961b65e-99f0-49d4-b414-de60ded65fdffileName">FeaturesPayWithPointsNegative</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
