<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a954e1c7-08ab-4926-9d2b-c2d0282ffed6" name="ProfileOffers" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a954e1c7-08ab-4926-9d2b-c2d0282ffed6fileName">ProfileOffers</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
