<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="99e7c67a-cf86-4089-bb65-5c395559814c" name="RGRRewardCertificate" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="99e7c67a-cf86-4089-bb65-5c395559814cfileName">RGRRewardCertificate</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
