<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f426c4be-7ca4-4ba0-ac45-3c82307adf2a" name="ReferenceData" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f426c4be-7ca4-4ba0-ac45-3c82307adf2afileName">ReferenceData</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
