<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4b9fa6f9-bbd3-4aad-b9a3-ecd89dd094e9" name="FeaturesTierProgressionAndSegment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4b9fa6f9-bbd3-4aad-b9a3-ecd89dd094e9fileName">FeaturesTierProgressionAndSegment</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>b96cbdb1-ee56-490f-b1c1-0f82cd0e2b6d</con:tagId>
</con:testSuite>
