<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="026005db-37f3-49e9-b89f-10f2b9f11aec" name="RGRSearchProfile" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="026005db-37f3-49e9-b89f-10f2b9f11aecfileName">RGRSearchProfile</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
