<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="026005db-37f3-49e9-b89f-10f2b9f11aec" name="RGRSearchProfile" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="026005db-37f3-49e9-b89f-10f2b9f11aecfileName">RGRSearchProfile</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
