<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9a22d6b0-5cc6-428b-86df-cdaec06fa723" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9a22d6b0-5cc6-428b-86df-cdaec06fa723fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
