<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="201b36c6-06b9-4e34-8573-48021b69991d" name="ScriptProcessor" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="201b36c6-06b9-4e34-8573-48021b69991dfileName">ScriptProcessor</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>840e719b-0776-426a-a1a3-57f1ced0b26b</con:tagId>
</con:testSuite>
