<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="aaf4fd2c-2249-42f7-bb4b-b24645b3190f" name="FeaturesMomentProfileActivity" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="aaf4fd2c-2249-42f7-bb4b-b24645b3190ffileName">FeaturesMomentProfileActivity</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>7d10a4c9-cdce-4528-b8b3-82a4c75d1b0c</con:tagId>
</con:testSuite>
