<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b21d1ea4-1a41-412e-9a20-d96e73cad258" name="Script" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b21d1ea4-1a41-412e-9a20-d96e73cad258fileName">Script</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
