<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1f88152a-78da-4648-882f-1f8a2aeff090" name="FeaturesOffersDataHub" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1f88152a-78da-4648-882f-1f8a2aeff090fileName">FeaturesOffersDataHub</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
