<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8ef40056-3b8d-4800-a353-5c8cec65a315" name="RGRGetProfileID" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8ef40056-3b8d-4800-a353-5c8cec65a315fileName">RGRGetProfileID</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
