<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a40e837c-c17e-4c95-9dcf-e522750defa7" name="NewtonFeaturesClientMoments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a40e837c-c17e-4c95-9dcf-e522750defa7fileName">NewtonFeaturesClientMoments</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
