<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="524217fd-999c-497d-9399-9ffc34a27849" name="Moment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="524217fd-999c-497d-9399-9ffc34a27849fileName">Moment</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
