<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="99e7c67a-cf86-4089-bb65-5c395559814c" name="FeaturesActivityCertificate" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="99e7c67a-cf86-4089-bb65-5c395559814cfileName">FeaturesActivityCertificate</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>7d10a4c9-cdce-4528-b8b3-82a4c75d1b0c</con:tagId>
</con:testSuite>
