<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c07beb8b-488b-4a16-915f-e7308015d044" name="FeaturesMomentMiscellaneousActivity" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c07beb8b-488b-4a16-915f-e7308015d044fileName">FeaturesMomentMiscellaneousActivity</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
