<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c07beb8b-488b-4a16-915f-e7308015d044" name="FeaturesMomentMiscellaneousActivity" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c07beb8b-488b-4a16-915f-e7308015d044fileName">FeaturesMomentMiscellaneousActivity</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>7d10a4c9-cdce-4528-b8b3-82a4c75d1b0c</con:tagId>
</con:testSuite>
