<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="20f57d6d-5389-4fe5-b482-2225413c61bc" name="Product" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="20f57d6d-5389-4fe5-b482-2225413c61bcfileName">Product</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
