<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c2d7ef13-f74e-4ba5-a8f9-fbf2dd717405" name="RGRCustomOffers" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c2d7ef13-f74e-4ba5-a8f9-fbf2dd717405fileName">RGRCustomOffers</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
