<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="72d05f88-b807-46f2-bd5f-71d708716b56" name="DeactivateAllMoment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="72d05f88-b807-46f2-bd5f-71d708716b56fileName">DeactivateAllMoment</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>70f1eb05-3dd4-4b50-ad49-1b79025baf94</con:tagId>
</con:testSuite>
