<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7d120038-03e3-493b-adc5-a7a2f0c7fc15" name="LoadToken" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7d120038-03e3-493b-adc5-a7a2f0c7fc15fileName">LoadToken</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e460ab9c-c6df-4159-a900-cca111c2e400">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="120f0817-c2aa-498a-ba10-54f000886d16">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d653788f-b849-4013-8db6-47ad297cdee5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>70f1eb05-3dd4-4b50-ad49-1b79025baf94</con:tagId>
  <con:tagId>b96cbdb1-ee56-490f-b1c1-0f82cd0e2b6d</con:tagId>
  <con:tagId>7d10a4c9-cdce-4528-b8b3-82a4c75d1b0c</con:tagId>
  <con:tagId>8e01f123-0bf5-4bac-b6fe-c36b7cbe80bb</con:tagId>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
  <con:tagId>840e719b-0776-426a-a1a3-57f1ced0b26b</con:tagId>
</con:testSuite>
