<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6e5fc7cf-2b82-4319-8d8a-785eead18700" name="FeaturesPurchaseTransaction2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6e5fc7cf-2b82-4319-8d8a-785eead18700fileName">FeaturesPurchaseTransaction2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
