<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0132a11b-8ff2-4840-b71e-215712762c51" name="RGRTransactions" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0132a11b-8ff2-4840-b71e-215712762c51fileName">RGRTransactions</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
