<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="552dc807-04a2-438b-828a-e02ec2918d3a" name="RGRProcessActivity" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="552dc807-04a2-438b-828a-e02ec2918d3afileName">RGRProcessActivity</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d653788f-b849-4013-8db6-47ad297cdee5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3c955a23-3567-47af-b6e9-aacfcca8d9aa">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
