<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6fa054b5-4d70-4ad8-8fb5-b3054dfed834" name="FeaturesTemplateOfferNeg" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6fa054b5-4d70-4ad8-8fb5-b3054dfed834fileName">FeaturesTemplateOfferNeg</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
