<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6fa054b5-4d70-4ad8-8fb5-b3054dfed834" name="FeaturesTemplateOfferNeg" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6fa054b5-4d70-4ad8-8fb5-b3054dfed834fileName">FeaturesTemplateOfferNeg</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>8e01f123-0bf5-4bac-b6fe-c36b7cbe80bb</con:tagId>
</con:testSuite>
