<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c066be7e-db32-466f-bd2c-654ec4631bfd" name="RGRProgramDashboard" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c066be7e-db32-466f-bd2c-654ec4631bfdfileName">RGRProgramDashboard</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
