<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="da799cea-4bc7-49af-b293-7b3b4fb2f54c" name="FeaturesAggregates" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="da799cea-4bc7-49af-b293-7b3b4fb2f54cfileName">FeaturesAggregates</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="537e61a1-a742-4637-a094-8cad62ddccd2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
