<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="53acf72b-9137-4faa-ad06-e6595c0485d9" name="FeaturesCustomOffersNeg" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="53acf72b-9137-4faa-ad06-e6595c0485d9fileName">FeaturesCustomOffersNeg</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
