<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b8bc351b-81fd-4ce0-b954-f2f2171ee817" name="FeaturesPayWithPoints" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b8bc351b-81fd-4ce0-b954-f2f2171ee817fileName">FeaturesPayWithPoints</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:tagId>a59ed3a7-3be5-45ae-bdbd-88b2b9d06af1</con:tagId>
</con:testSuite>
