<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8aa586e0-3b2c-4eee-983f-83e202b29113" name="Datahub" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8aa586e0-3b2c-4eee-983f-83e202b29113fileName">Datahub</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="47bb433b-fb70-41f0-b289-86004efd1deb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="6705507e-ac0c-4a4b-acac-36b4c8b57bc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>840e719b-0776-426a-a1a3-57f1ced0b26b</con:tagId>
</con:testSuite>
