<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a5374806-d291-48d5-9a1d-af74af021c06" name="FeatureKPIReports" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a5374806-d291-48d5-9a1d-af74af021c06fileName">FeatureKPIReports</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
